.camperModalContainer {
  max-width: 982px;
  padding: 40px;
  background-color: #fff;
  border-radius: 20px;
}
.nameInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 10px;
}
.closeBtn {
  z-index: 1000;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.iconClose {
  fill: none;
  stroke: currentColor;
}
.secondInfo {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}
.rating {
  display: inline-block;
}
.starIcon {
  fill: var(--yellow);
  stroke: var(--yellow);
  margin-right: 4px;
}
.locationIcon {
  fill: none;
  stroke: currentColor;
  margin-right: 4px;
}
.location {
  display: inline-block;
}
.price {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 24px;
}
.camperGallery {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}
.camperImage {
  object-fit: cover;
  border-radius: 10px;
}
.text {
  color: var(--grey);
  line-height: 1.5;
  margin-bottom: 44px;
}
.tabList {
  margin-bottom: 44px;
  position: relative;
  display: flex;
  gap: 40px;
}
.link {
  padding-bottom: 20px;
  background: transparent;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  position: relative;
  z-index: 1;
}
.active {
  z-index: 2;
  border-bottom: 5px solid var(--red);
}
.line {
  z-index: 0;
  position: absolute;
  bottom: 2px;
  width: 100%;
  height: 1px;
  background: var(--light-opacity);
}
