.camperListContainer {
  display: flex;
  gap: 24px;
  max-width: 888px;
  border-radius: 20px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  padding: 24px;
}
.img {
  border-radius: 10px;
  object-fit: cover;
}
