@import "node_modules/modern-normalize/modern-normalize.css";

@font-face {
  font-family: "Inter";
  src: url("/Inter-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/Inter-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/Inter-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

:root {
  --dark-grey: #101828;
  --dark-opacity: #10182899;
  --black-opacity: #131313b5;
  --light-opacity: #69646487;
  --grey: #475467;
  --red: #e44848;
  --yellow: #ffc531;
  --light-blue: #f2f4f7;
  --light-grey: #f7f7f7;
  --animation: 150ms ease-in;
}

body {
  background-color: #fff;
  font-family: "Inter", sans-serif;
  color: var(--dark-grey);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
  outline: none;
}

input {
  border: none;
  outline: none;
}
